<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Usuários</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>

    <body>
        <div class="container">
            <div style="margin-top: 20px;">
                <form method="POST" action="/Usuarios/Criar">
                    <table>
                        <tbody>
                            <tr>
                                <td><label for="nome">Nome</label></td>
                                <td><input id="nome" type="text" name="nome" /></td>
                            </tr>
                            <tr>
                                <td><label for="email">E-mail</label></td>
                                <td><input id="email" type="email" name="email" /></td>
                            </tr>
                            <tr>
                                <td><label for="senha">Senha</label></td>
                                <td><input id="senha" type="password" name="senha" /></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div style="display: flex; justify-content: center;">
                                        <input type="submit" value="Cadastrar" />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>

            {% if erro %}
            <div id="error" class="hide5s" style="margin-top: 20px;">
                <h4>Erro: {{ erro }} </h4>
            </div>
            {% endif %}
            
            <div style="margin-top: 20px;">
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Usuario</th>
                            <th>E-mais</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for usuario in usuarios %}
                        <tr>
                            <td>{{ usuario.id }}</td>
                            <td>{{ usuario.nome }}</td>
                            <td>{{ usuario.email }}</td>
                            <td>
                                <form method="POST" action="/Usuarios/Excluir">
                                    <input name="id" type="hidden" value="{{ usuario.id }}" />
                                    <input type="submit" value="Deletar" />
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div
    </body>
</html>